<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <%- include('../partials/dependencies') %>
</head>
<%- include('../partials/PMO-header',{userData:userData}) %>

  <body>
    <main>
      <form action="/PMO/createProject/ATT" method="post" id="createProjectForm">
        <div class="row m-2 border border-2 p-2">
          <label for="" class="position-absolute bg-white w-auto" style="top: -10px;">Project Info</label>
          <div class="col m-2">
            <div class="row fs-6">
              <label class="col-sm-4 mb-1 col-form-label bg-body-secondary" for="CFAS_ID">CFAS ID</label>
              <input class="col-sm-8 mb-1 border-start  border-light bg-body-secondary border-start  border-light"
                type="text" name="CFAS_ID" id="CFAS_ID" value="" placeholder="Enter the CFAS-ID" pattern="[A-Za-z0-9]+"
                title="Alpha Numeric Only" autocomplete="off">

              <label class="col-sm-4 mb-1 col-form-label bg-body-secondary" for="DANumber">DA Number</label>
              <input class="col-sm-8  mb-1 border-start  border-light bg-body-secondary border-start  border-light"
                type="text" name="DANumber" id="DANumber" value="" placeholder="Enter the DA Number"
                pattern="[A-Za-z0-9]+" title="Alpha Numeric Only" autocomplete="off">

              <label class="col-sm-4 mb-1 col-form-label bg-body-secondary" for="SOW">SOW</label>
              <select class="col-sm-8 mb-1 border-start  border-light bg-body-secondary border-start  border-light"
                name="SOW" id="SOW">
                <option value="BAU">BAU</option>
                <option value="Drafting">Drafting</option>
                <option value="PFP">PFP</option>
                <option value="Planning & Drafting">Planning & Drafting</option>
              </select>

              <label class="col-sm-4 mb-1 col-form-label bg-body-secondary" for="County">County</label>
              <input class="col-sm-8 mb-1 border-start  border-light bg-body-secondary border-start  border-light"
                type="text" name="County" id="County" value="" placeholder="Enter the County" pattern="[A-Za-z0-9]+"
                title="Alpha Numeric Only" autocomplete="off">

              <label class="col-sm-4 mb-1 col-form-label  bg-body-secondary" for="ReceivedDate">Received Date</label>
              <input class="col-sm-8 mb-1 border-start  border-light bg-body-secondary" type="date" name="ReceivedDate"
                id="ReceivedDate" value="" autocomplete="off">

            </div>
          </div>
          <div class="m-2 col">
            <div class="row">
              <label class="col-sm-4 mb-1 col-form-label bg-body-secondary" for="PSANumber">PSA Number</label>
              <input class="col-sm-8 mb-1 border-start  border-light bg-body-secondary border-start  border-light"
                type="text" name="PSANumber" id="PSANumber" value="" placeholder="Enter the PSA Number"
                pattern="[A-Za-z0-9]+" title="Alpha Numeric Only" autocomplete="off">

              <label class="col-sm-4 mb-1 col-form-label bg-body-secondary" for="CILLICode">CILLI Code</label>
              <input class="col-sm-8 mb-1 border-start  border-light bg-body-secondary border-start  border-light"
                type="text" name="CILLICode" id="CILLICode" value="" placeholder="Enter the CILLI Code"
                pattern="[A-Za-z0-9]+" title="Alpha Numeric Only" autocomplete="off">

              <label class="col-sm-4 mb-1 col-form-label bg-body-secondary" for="Permit">Permit</label>
              <select class="col-sm-8 mb-1 border-start  border-light bg-body-secondary border-start  border-light"
                name="Permit" id="Permit">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
              </select>

              <label class="col-sm-4 mb-1 col-form-label bg-body-secondary" for="Region">Region</label>
              <input class="col-sm-8 mb-1 border-start  border-light bg-body-secondary border-start  border-light"
                type="text" name="Region" id="Region" value="" placeholder="Enter the Region" pattern="[A-Za-z0-9]+"
                title="Alpha Numeric Only" autocomplete="off">

              <label class="col-sm-4 mb-1 col-form-label bg-body-secondary" for="DueDate">Due Date</label>
              <input class="col-sm-8 mb-1 border-start  border-light bg-body-secondary border-start  border-light"
                type="date" name="DueDate" id="DueDate" value="" autocomplete="off">

            </div>
          </div>
          <div class="m-2 col">
            <div class="row">

              <label class="col-sm-4 mb-1 col-form-label bg-body-secondary" for="WireCenter">Wire Center</label>
              <input class="col-sm-8 mb-1 border-start  border-light bg-body-secondary border-start  border-light"
                type="text" name="WireCenter" id="WireCenter" value="" placeholder="Enter the Wire Center"
                pattern="[A-Za-z0-9]+" title="Alpha Numeric Only" autocomplete="off">

              <label class="col-sm-4 mb-1 col-form-label bg-body-secondary" for="NPPAXNo">NPPAX No</label>
              <input class="col-sm-8 mb-1 border-start  border-light bg-body-secondary border-start  border-light"
                type="number" name="NPPAXNo" id="NPPAXNo" min="0" value="0" placeholder="Enter the NPPAX No"
                pattern="[A-Za-z0-9]+" title="Alpha Numeric Only" autocomplete="off">

              <label class="col-sm-4 mb-1 col-form-label bg-body-secondary" for="PFPAddress">PFP Address</label>
              <input class="col-sm-8 mb-1 border-start  border-light bg-body-secondary border-start  border-light"
                type="text" name="PFPAddress" id="PFPAddress" value="" placeholder="Enter the PFP Address"
                pattern="[A-Za-z0-9]+" title="Alpha Numeric Only" autocomplete="off">

              <label class="col-sm-4 mb-1 col-form-label bg-body-secondary" for="Score">Score</label>
              <input class="col-sm-8 mb-1 border-start  border-light bg-body-secondary border-start  border-light"
                type="number" name="Score" id="Score" value="0" placeholder="Enter the Score" pattern="[A-Za-z0-9]+"
                title="Alpha Numeric Only" autocomplete="off">

              <label class="col-sm-4 mb-1 col-form-label bg-body-secondary" for="ApprovedDate">Approved Date</label>
              <input class="col-sm-8 mb-1 border-start  border-light bg-body-secondary border-start  border-light"
                type="date" name="ApprovedDate" id="ApprovedDate" value="" autocomplete="off">

            </div>
          </div>
        </div>

        <div class="m-2  border border-2">
          <table class="table table-hover" aria-label="techInfo">
            <thead class="bg-cyan">
              <tr>
                <th></th>
                <th scope="col" class="text-center border-end border-2 text-light" colspan="4">COAX</th>
                <th scope="col" class="text-center text-light" colspan="4">FIBER</th>
              </tr>
            </thead>
            <tbody>
              <tr class="border-bottom">
                <td class="border-end border-2">

                  <b>Aerial</b>
                </td>
                <td class="border-end border-2">
                  <b>Estimated <small>(ft)</small></b>
                </td>
                <td class="border-end border-2"> <input type="number" min="0" value="0" name="Air_Coax_Est"
                    id="Air_Coax_Est" onchange="calculateCableLength()"></td>
                <td class="border-end border-2">
                  <b>Actual <small>(ft)</small></b>
                </td>
                <td class="border-end border-2"> <input type="number" min="0" value="0" name="Air_Coax_Act"
                    id="Air_Coax_Act" onchange="calculateCableLength()"></td>
                <td class="border-end border-2">
                  <b>Estimated <small>(ft)</small></b>
                </td>
                <td class="border-end border-2"> <input type="number" min="0" value="0" name="Air_Fib_Est"
                    id="Air_Fib_Est" onchange="calculateCableLength()"></td>
                <td class="border-end border-2">
                  <b>Actual <small>(ft)</small></b>
                </td>
                <td> <input type="number" min="0" value="0" name="Air_Fib_Act" id="Air_Fib_Act"
                    onchange="calculateCableLength()"></td>

              </tr>
              <tr class="border-bottom">
                <td class="border-end border-2">
                  <b>Buried/UG</b>
                </td>
                <td class="border-end border-2">
                  <b>Estimated <small>(ft)</small></b>
                </td>
                <td class="border-end border-2"> <input type="number" min="0" value="0" name="UG_Coax_Est"
                    id="UG_Coax_Est" onchange="calculateCableLength()"></td>
                <td class="border-end border-2">
                  <b>Actual <small>(ft)</small></b>
                </td>
                <td class="border-end border-2"> <input type="number" min="0" value="0" name="UG_Coax_Act"
                    id="UG_Coax_Act" onchange="calculateCableLength()"></td>
                <td class="border-end border-2">
                  <b>Estimated <small>(ft)</small></b>
                </td>
                <td class="border-end border-2"> <input type="number" min="0" value="0" name="UG_Fib_Est"
                    id="UG_Fib_Est" onchange="calculateCableLength()"></td>
                <td class="border-end border-2">
                  <b>Actual <small>(ft)</small></b>
                </td>
                <td> <input type="number" min="0" value="0" name="UG_Fib_Act" id="UG_Fib_Act"
                    onchange="calculateCableLength()"></td>

              </tr>
              <tr class="border-bottom">
                <td class="border-end border-2"><b>Total</b></td>
                <td colspan="2" class="border-end border-2">
                  <input type="number" name="Total_Coax_Est" min="0" value="0" id="Total_Coax_Est" readonly>
                </td>
                <td colspan="2" class="border-end border-2">
                  <input type="number" name="Total_Coax_Act" min="0" value="0" id="Total_Coax_Act" readonly>
                </td>
                <td colspan="2" class="border-end border-2">
                  <input type="number" name="Total_Fib_Est" min="0" value="0" id="Total_Fib_Est" readonly>
                </td>
                <td colspan="2">
                  <input type="number" name="Total_Fib_Act" min="0" value="0" id="Total_Fib_Act" readonly>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="d-flex justify-content-evenly align-items-center m-2">
            <label for="">Total Footage</label>
            <div class="d-flex total align-items-center">
              <label for="Total_Est" class="text-nowrap">Estimated (ft):&nbsp; </label>
              <input type="number" name="Total_Est" id="Total_Est" min="0" value="0" readonly>
            </div>
            <div class="d-flex total align-items-center">
              <label for="Total_Act" class="text-nowrap">Actual (ft):&nbsp; </label>
              <input type="number" name="Total_Act" id="Total_Act" min="0" value="0" readonly>
            </div>
          </div>
        </div>
        <div id="" class="m-2">
          <div class="bg-cyan fg-white p-2">Comments <i class="bi bi-chat-quote"></i></div>
          <div class="border border-2 p-2 ">
            <div id="NoteArea">
            </div>
            <button class="button primary outline rounded shadowed" type="button"
              onclick="Metro.dialog.open('#AddNoteDialog')" id="AddNoteBtn"><i class="bi bi-plus-circle"></i></button>
          </div>

          <!-- <button class="button primary" type="button" onclick="Metro.dialog.open('#AddNoteDialog')">Add Note</button> -->
        </div>
        <div class="text-center m-2">
          <input type="button" id="summa" class="button primary shadowed rounded" value="Submit">
        </div>
      </form>
    </main>
  </body>
  <div class="dialog" data-role="dialog" data-close-button="true" data-overlay-click-close="true" id="AddNoteDialog">
    <div class="dialog-title">Add Comment</div>
    <div class="dialog-content">
      <form action="#" id="dialog-form">
        <textarea name="CommentInput" id="CommentInput" data-role="textarea" data-auto-size="true" data-max-height="200"
          cols="30" rows="1" placeholder="Enter your note here"></textarea>
        <input class="my-2" type="file" dir="rtl" data-role="file" accept=".pdf, .xls, .xlsx,.docx" name="attachment"
          id="attachment" placeholder="Select the Attachment" onchange='getExtension(this)'>
        <input type="hidden" name="attachmentType" id="attachmentType">
        <input type="hidden" name="attachmentLocation" id="attachmentLocation">
      </form>
    </div>
    <div class="dialog-actions">
      <button type="button" class="button secondary rounded js-dialog-close" id="uploadCommentBtn">Upload</button>
    </div>
  </div>
  <%- include('../partials/dependencies-js',{Notifications:Notifications}) %>
    <script src="/static/js/CreateProject.js"></script>
    <script>
      $(function () {
        $('[type="date"]').prop('min', function () {
          return new Date().toJSON().split('T')[0];
        });
      });
    </script>

</html>